target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Docker
/docker/locale/database/*
/docker/locale/geoserver/*
!/docker/environment/.env.local
!/docker/locale/database/init/
!/docker/locale/keycloak/realm/

/backend/docker/*
/backend/docker/locale/logs/*
!/backend/docker/environment/.env.local