<div class="flex flex-col h-full">
  <!-- LOGO -->
  <div class="flex items-center justify-center p-4 border-b border-gray-300">
    <img ngSrc="/logo.png" alt="Logo" class="w-24 h-24" height="1024" width="1024">
  </div>
  <!-- MENU -->
  <div class="flex flex-col flex-1 overflow-auto">
    <!-- HOME -->
    <a routerLink="/home" routerLinkActive="bg-gray-200"
       class="flex m-2 hover:bg-gray-200 items-center gap-3 rounded p-2 text-base">
      <div class="flex w-7 h-7 items-center justify-center flex-shrink-0">
        <mat-icon aria-label="Home" title="Home">home</mat-icon>
      </div>
      <span>Home</span>
    </a>
    @if (isLoggedIn) {
      <!-- ADD BOOK
      <a routerLink="/book/new" routerLinkActive="bg-gray-200"
         class="flex m-2 hover:bg-gray-200 items-center gap-3 rounded p-2 text-base">
        <div class="flex w-7 h-7 items-center justify-center flex-shrink-0">
          <mat-icon aria-label="Aggiungi libro" title="Aggiungi">library_add</mat-icon>
        </div>
        <span>Aggiungi</span>
      </a>-->
      <a routerLink="/book" routerLinkActive="bg-gray-200"
         class="flex m-2 hover:bg-gray-200 items-center gap-3 rounded p-2 text-base">
        <div class="flex w-7 h-7 items-center justify-center flex-shrink-0">
          <mat-icon aria-label="Visualizza libreria" title="Libreria">library_books</mat-icon>
        </div>
        <span>Biblioteca</span>
      </a>
      <!-- DASHBOARD -->
      <a routerLink="/dashboard" routerLinkActive="bg-gray-200"
         class="flex m-2 hover:bg-gray-200 items-center gap-3 rounded p-2 text-base">
        <div class="flex w-7 h-7 items-center justify-center flex-shrink-0">
          <mat-icon aria-label="Dashboard" title="Dashboard">bar_chart</mat-icon>
        </div>
        <span>Dashboard</span>
      </a>
    }
  </div>
  <!-- FOOTER -->
  <div class="flex flex-col w-full flex-shrink-0">
    @if (isLoggedIn) {
      <!-- SETTINGS -->
      <a routerLink="/administrator" routerLinkActive="bg-gray-200"
         class="flex m-2 hover:bg-gray-200 items-center gap-3 rounded p-2 text-base">
        <div class="flex w-7 h-7 items-center justify-center flex-shrink-0">
          <mat-icon aria-label="Impostazioni" title="Impostazioni">settings</mat-icon>
        </div>
        <span>Impostazioni</span>
      </a>
      <!-- USER INFO -->
      <div class="p-2 border-t border-gray-300">
        <button class="w-full flex items-center gap-3 p-2 rounded cursor-pointer hover:bg-gray-200" (click)="openInfo()">
          <div class="w-10 h-10">
            <img ngSrc="/img_avatar.png" width="40" height="40" alt="Avatar">
          </div>
          <div class="flex-1 min-w-0 text-left">
            <p class="text-xs font-semibold truncate uppercase">{{ fullName }}</p>
            <p class="text-xs text-gray-500 truncate">{{ email }}</p>
          </div>
        </button>

        <button (click)="logOut()" class="mt-2 w-full text-xs text-red-600 hover:text-red-700 p-2 text-left flex items-center gap-2 cursor-pointer">
          <mat-icon class="text-xs">logout</mat-icon>
          Logout
        </button>
      </div>
    }

    @if (!isLoggedIn) {
      <!-- LOGIN BUTTON -->
      <button (click)="logIn()" class="p-3 font-semibold hover:bg-gray-200 text-sm flex items-center justify-center gap-2 cursor-pointer">
        <mat-icon>login</mat-icon>
        Accedi
      </button>
    }
    <!-- COPYRIGHT -->
    <div class="text-center text-sm text-gray-400 p-2 border-t border-gray-200">
      &copy; 2025
    </div>
  </div>
</div>

