@import 'tailwindcss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tw-dialog-panel .mat.mdc-dialog-surface {
  @apply bg-transparent shadow-none p-0;
}


