logging:
  level:
    org.springframework: info
    org.springframework.security: DEBUG
    org.springframework.oauth2: DEBUG

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/socialibrary

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: administrator-service
              uri: http://localhost:8084/api/administrator
              predicates:
                - Path=/api/administrator/**
              filters:
                - StripPrefix=1
                - TokenRelay
            - id: library-service
              uri: http://localhost:8085/api/library
              predicates:
                - Path=/api/library/**
              filters:
                - StripPrefix=1
                - TokenRelay