logging:
  level:
    org.springframework: info
    org.springframework.security: ${LOG_LEVEL:info}
    org.springframework.oauth2: ${LOG_LEVEL:info}

spring:
  # Security
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
  # Gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: administrator-service
              uri: ${ADMINISTRATOR_URL}
              predicates:
                - Path=/api/administrator/**
              filters:
                - StripPrefix=1
                - TokenRelay # Trasmetto il token al servizio downstream administrator
            - id: library-service
              uri: ${LIBRARY_URL}
              predicates:
                - Path=/api/library/**
              filters:
                - StripPrefix=1
                - TokenRelay # Trasmetto il token al servizio downstream library